<div class="container px-4 px-sm-0 ">
 <div class="row">
  <div class="col-4 mx-3 mt-3">
      <h2>有給申請</h2>
  </div>
 </div>
 <div class="row">
     <div class="col">
     <%#= link_to "＋", new_admin_schedule_path, class: "btn shadow-sm btn-outline-secondary rounded-circle" %>
     </div>
 </div>
  <div class="row">
    <div class="col-10 mt-4">
    <%= month_calendar events: @apply_paid do |date, apply_paids| %>
        <div style="background-color: <%= apply_paids.first&.get_color %>">
            <%= date.day %>
            <ul>
            <% apply_paids.each do |apply_paid| %>
                <%= link_to admin_apply_paid_path(apply_paid.id), class:"text-dark" do %>
                  <li><%= apply_paid.user.name %>：<%= apply_paid.apply_status_i18n %></li>
                <% end %>
            <% end %>
            </ul>
        </div>
    <% end %>
    </div>
   </div>
  </div>