<div class="container px-4 px-sm-0 ">
 <div class="row">
  <div class="col-3 mx-3 mt-3">
      <h2>Schedule</h2>
  </div>
 </div>
 <div class="row">
     <div class="col mt-3">
     <%= link_to "スケジュールを追加する", new_admin_schedule_path, class: "btn shadow-sm btn-outline-dark" %>
     </div>
 </div>
  <div class="row">
    <div class="col-9 mt-3">
    <%= month_calendar events: @schedules do |date, schedules| %>
        <div style="background-color: <%= schedules.first&.get_color %>">
            <%= date.day %>
            <ul>
            <% schedules.each do |schedule| %>

                <%= link_to admin_schedule_path(schedule), class:"text-dark" do %>
                  <li><%= schedule.event_name %></li>
                <% end %>
            <% end %>

            </ul>
        </div>
    <% end %>
    </div>
 </div>
</div>
