<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header class="shadow-sm bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand p-3 text-secondary">Work-Manager</a>
            <% if admin_signed_in? || user_signed_in? %>
             <button class="navbar-toggler reset-style" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
            <% end %>

          <% if admin_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto mt-1 ">
             <li class="nav-item mb-1 ml-3">
              <%= link_to "社員一覧", admin_users_path, class: 'nav-link text-dark btn btn-outline-dark' %></li>
             <li class="nav-item mb-1 ml-3">
              <%= link_to "予定一覧", admin_schedules_path, class: 'nav-link text-dark btn btn-outline-dark' %></li>
             <li class="nav-item mb-1 ml-3">
              <%= link_to '有給一覧', admin_apply_paids_path, class: 'nav-link text-dark btn btn-outline-dark' %></li>
　           <li class="nav-item mb-1 ml-3 ">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-dark' %></li>
            </ul>
            </div>
          <% end %>

          <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto mt-1 ">
              <li class="nav-item mb-1 ml-3">
              <%= link_to "マイページ", public_user_path(current_user), class: 'nav-link text-dark btn btn-outline-dark' %></li>
              <li class="nav-item mb-1 ml-3">
              <%= link_to '予定一覧', public_schedules_path, class: 'nav-link text-dark btn btn-outline-dark' %></li>
              <li class="nav-item mb-1 ml-3">
              <%= link_to "有休一覧", public_apply_paids_path, class: 'nav-link text-dark btn btn-outline-dark' %></li>
　            <li class="nav-item ml-3 ">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-dark' %></li>
             </ul>
            </div>
          <% end %>


      </nav>
    </header>
      <%= yield %>
      <footer class="border fixed-bottom bg-light">
        <p class="text-dark text-center pt-3">©Portfolio</p>
      </footer>
  </body>
</html>
